flask
opencv-python
numpy
Pillow

# Note: face-recognition requires CMake to be installed on your system
# Install CMake from: https://cmake.org/download/
# Then run: pip install face-recognition
